
@import './variables.sass'

.button
    display: block
    margin: auto
    text-decoration: none
    line-height: 35px
    border: 1px solid #fff
    border-radius: 10px
    height: 35px
    width: 40%
    background: $primary
    color: #fff
    cursor: pointer
    font-weight: 500
    font-size: 15px
    

    &:hover
        background: darken($primary, 10%)